.calendarWrapperDark .rbc-off-range-bg {
  background: #595959;
}

.calendarWrapperDark .rbc-today {
  background: #354857;
}

.calendarWrapperDark .rbc-btn-group :not(.rbc-active) {
  color: white;
}

.calendarWrapperDark .rbc-btn-group .rbc-active {
  color: white;
  background: #636363;
}

.calendarWrapperDark .rbc-btn-group button:hover {
  background: #8c8c8c;
}

.calendarWrapperDark .rbc-btn-group .rbc-active:hover {
  background: #8c8c8c;
}

.calendarWrapperDark .rbc-selected-cell {
  background: rgba(0, 0, 0, 0.4);
}

.calendarWrapperDark .rbc-time-view {
  border-color: #505050;
}

.calendarWrapperDark .rbc-time-content > * + * > * {
  border-color: #505050;
}

.calendarWrapperDark .rbc-time-content {
  border-color: #505050;
}

.calendarWrapperDark .rbc-day-slot .rbc-time-slot {
  border-color: #3b3b3b;
}

.calendarWrapperDark .rbc-timeslot-group {
  border-color: #505050;
}

.calendarWrapperDark .rbc-time-header-content {
  border-color: #505050;
}

.calendarWrapperDark .rbc-header {
  border-color: #505050;
}

.calendarWrapperDark .rbc-header + .rbc-header {
  border-color: #505050;
}

.calendarWrapperDark .rbc-day-bg + .rbc-day-bg {
  border-color: #505050;
}

.calendarWrapperDark .rbc-agenda-view * {
  border-color: #505050 !important;
}

.calendarWrapperDark .rbc-month-view {
  border-color: #505050;
}

.calendarWrapperDark .rbc-month-row + .rbc-month-row {
  border-color: #505050;
}
